body {
  font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: ;
    z-index: ;
    top: ;
    left: ;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float: left;
    position: relative;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 5px;
  float: left;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#mySidenav{
  z-index: 100;
}
#baseapp{
        width: 100%;
        height: 600px;
        position: relative;
        background-color: white;
        float: right;
        border: 3px solid #000;
}
.ltoobar {
    width: 100%;
    border: 1px solid;
    background: white;
    position: absolute;
    float: left;
    height: 65px;
    overflow: hidden;
    position: relative;
}
#lpanels {
    width: 100%;
    height: 100%;
    direction: ltr; 
}
#lleft{
    float: left;
    background: red;
    height: 100%;
    
}
#lright {
    float: right;
    width: 100%;
    position: absolute;
    height: 89%;
}
#editor{
    float: left;
    width: 50%;
    height: 100%;
}
#preview {
    float: right;
    border: 1px solid;
    width: 50%;
    overflow: scroll;
    height:100%;
    padding:5px;
}



/*                                                         ویرایشگر*/
.texteditor-container {    
    width:100%;
    height:100%;
}
textarea#editor1 {
    width:500px !important;
    border:1px solid red;
    height: 100%;
    
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*                                                     پایان  ویرایشگر*/

#priviewtitle {
    display: none;
    border: 1px solid black;
    padding: 3px;
    margin: -5px -5px;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    float: left;
    width: 50%;
}
